* {
	font-family: 'Roboto Condensed' , sans-serif;
	padding: 0;
	margin: 0;
	color: black;
}	
header {
	position: 
	height: 50px;
	width: 100%;
	background-color: #5b5b80;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
	padding: 20px;
}
header h1{
	float: left;
  	display: inline;-block;
	padding-left: 15px;
	padding-top 15px;
}
header h1 a: hover{
	color: #03fccf;
}
header ul li a{
	transition: : .3s;
}
header h1{
	float: left;
	display: inline-block;
	padding-left: 20px;
	padding-top: 15px; 

}
header h1 a:hover {
	color: #03fccf;
}
header h1 a {
	transition: .3s;
}
a {
	 text-decoration: none;
}
.menu container {
	width: 99%;
	margin: 0 auto;


}
.container: :after {
	content: '';
	display: none;
	padding: 15px;
}
.menu-sidebar {
	float: right;
	display: none;
	padding: 15px;
}
.menu-sidebar{
	cursor: pointer;
}
@media (max-width: 768px){
	.menu-sidebar {
		display: block;
	}
	header ul {
		display: none;

	}
	.col-4 {
		width: 50%;
	}
	.col-3 {
		width: 100%;
	}
}
#bar{
	display: none;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -200px;
	width: 200px;
	background-color: blue;
	z-index: 9999;
}
.sidebar ul li {
	padding: 25px;
}
.sidebar ul li a{
	color: white;
}
.sidebar ul li a:hover{

} 
#bar:checked ~ .sidebar {
	left: 0;
}

/* bagian banner */
.banner {
	background: linear-gradient(to top, black 0%, pink 130%);
	padding: 150px 0;
}
.banner img{
	width: 150px;
	border-radius: 50%;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgb(0,0,0,0,2),0 6px 20px 0 rgba(0,0,0,0,19),
}
.b-center {
	text-align: center;
}
.banner h2 {
	margin-bottom: 10px
}
.banner p {
	font-size: 18px
}
.banner h2, .banner p, .banner span {
	color: black;
}
section {
	padding:50px 0;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	background-color: #F0E68C;
	left: calc(50% - 20px);
}

/* bagain about */
#about p{
	text-align: center;
	text-indent: 30px;
	line-height: 25px;
    margin-bottom: 15px; 
}

/* bagian skills */
#sliils {
	background: #7cb2ba;
}
#skills .l-skills {
	height: 30px;
	background-color: #fff;
	border: 1px; solid #ddd;
	margin: 5px; 0 20px 0;
	box-shadow:   0 4px 8px 0 rgb(0,0,0,0,2),0 6px 20px 0 rgba(0,0,0,0,19), 
}
.l-skllis {
	border-radius: 40px;
}
.l-skills .nilai {
	height: 30px;
	background-color: #F0E68C;
	display: inline-block;
	color: #fff;
	text-align: center;
	width: 10%;
	transition: width 2s;
	border-radius: 40px; 
}

















	



	

 

	




	